extends layout

block content
  a(href="https://github.com/pdxnode/pdxnode")
    img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png", alt="Fork me on GitHub")
  #intro
    .container
      #logo
      p 1st Thursday is presentation night. 3rd Thursday is project night.
  #main.pullout
    .container
      - if (nextEvent)
        h4 Next: #{nextEvent.name}
        p#when #{nextEvent.time_formatted}
        iframe(width="425", height="350", frameborder="0", scrolling="no", marginheight="0", marginwidth="0",
          src="https://maps.google.com/maps?q=#{nextEvent.location.address_full}&amp;ie=UTF8&amp;hq=&amp;hnear=#{nextEvent.location.name}, #{nextEvent.location.address_full}&amp;t=m&amp;ll=#{nextEvent.location.lat},#{nextEvent.location.lon}&amp;spn=0.002631,0.00456&amp;z=17&amp;output=embed")
        p #{nextEvent.location.name} is at #{nextEvent.location.address_simple} #{nextEvent.location.directions} -- 
          a(href="#{nextEvent.url}", target="_blank") Meetup
      - else
        h4 
          span Check&nbsp;
          a(href="http://www.meetup.com/nodepdx/", target="_blank") Meetup
          span &nbsp;for the next event

  #resources
    .container
      p Resources
      ul
        li
          a(href="http://www.meetup.com/nodepdx/", target="_blank") PDXnode Meetup
        li
          a(href="https://github.com/PDXNode/pdxnode/blob/master/talk-template.md", target="_blank") Submit a Talk
        li
          a(href="http://docs.nodejitsu.com/", target="_blank") docs.nodejitsu.com
        li
          a(href="http://howtonode.org/", target="_blank") How To Node

    .container(style="color: #aaa;")
      p Please improve on this site in any and all ways you'd like: Fork it. Improve it. Pull request it.